@use "@/styles/vars.scss" as * ;
@use 'element-plus/theme-chalk/el-message.css';

.sa-notification {
  .el-icon {
    width: 18px;
    height: 18px;
  }

  &--error {
    border-color: $danger-color-lighter-iii;
    background-color: $danger-color-bg;
    color: $danger-color;
  }

  &--success {
    border-color: $success-color-lighter-iii;
    background-color: $success-color-bg;
    color: $success-color;
  }

  &--warning {
    border-color: $warning-color-lighter-iii;
    background-color: $warning-color-bg;
    color: $warning-color;
  }
}
