@import url("https://fonts.googleapis.com/css?family=Muli");

$loader-color: #4b677c;

#app-loader-screen {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Muli', serif;
  background: #f9f9f9;

  h1 {
    color: $loader-color;
    font-weight: normal;
    font-size: 200%;
  }

  .app-loader-container {
    width: 100%;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .app-loader {
      position: relative;
      width: 12px;
      height: 12px;

      top: calc(50% - 6px);
      left: calc(50% - 6px);

      border-radius: 12px;
      background-color: $loader-color;
      transform-origin: 50% 50%;
      animation: app-loader 1s ease-in-out infinite;
    }

    .app-loader:before {
      content: "";
      position: absolute;
      background-color: fade_out($loader-color, .5);
      top: 0;
      left: -25px;
      height: 12px;
      width: 12px;
      border-radius: 12px;
    }

    .app-loader:after {
      content: "";
      position: absolute;
      background-color: fade_out($loader-color, .5);
      top: 0;
      left: 25px;
      height: 12px;
      width: 12px;
      border-radius: 12px;
    }
  }
}

@keyframes app-loader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}