### Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
**/.test-config.yaml

### Local dev environment
.gradletasknamecache
/local-dev


### Jest coverage files
frontend/coverage

.java-version

**/.kotlin/sessions

# Workaround for https://github.com/codecov/codecov-action/issues/1851
codecov
codecov.SHA256SUM
codecov.SHA256SUM.sig
