@use "vars" as *;

:root {
  --el-component-size: #{$sa-input-height} !important;
  --el-color-danger: #{$danger-color} !important;
  --el-color-error: #{$danger-color} !important;
  --el-border-radius-base: #{$components-border-radius} !important;
  --el-color-primary: #{$components-color} !important;
  --el-border-color-hover: #{$primary-color-lighter-iii} !important;
  --el-text-color-regular: #{$primary-color-lighter-i} !important;
  --el-text-color-primary: #{$primary-color} !important;
  --el-text-color-placeholder: #{$primary-color-lighter-iii} !important;
  --el-mask-color: rgba(255, 255, 255, 0.3) !important;
}

.el-alert {
  --el-alert-title-font-size: 100% !important;
  --el-alert-description-font-size: 90% !important;
}

.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner:focus {
  // todo
  //border-color: $--input-focus-border;
}

.el-form-item.is-success .el-input__inner:hover,
.el-form-item.is-success .el-textarea__inner:hover {
  // todo
  //border-color: $--input-hover-border;
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-textarea__inner {
  // todo
  //border-color: $--input-border-color;
}

.el-loading-mask {
  background-color: rgba(255, 255, 255, 0.4);
}

.el-alert {
  line-height: 1em;

  &__title {
    display: flex;
    align-items: flex-end;

    .sa-icon {
      margin-right: 5px;
      width: 20px !important;
      height: 20px !important;
    }
  }

  &__description {
    .el-button {
      padding: 0;
      height: auto;
    }
  }
}

.el-button {
  padding: 12px 20px;
  height: $sa-input-height;
}
