@use "vars" as *;
@use 'element-plus/theme-chalk/base.css';
@use 'element-plus/theme-chalk/el-button.css';
@use 'element-plus/theme-chalk/el-date-picker.css';
@use 'element-plus/theme-chalk/el-date-picker-panel.css';
@use 'element-plus/theme-chalk/el-input.css';
@use 'element-plus/theme-chalk/el-form-item.css';
@use 'element-plus/theme-chalk/el-form.css';
@use 'element-plus/theme-chalk/el-checkbox.css';
@use 'element-plus/theme-chalk/el-message-box.css';
@use 'element-plus/theme-chalk/el-pagination.css';
@use 'element-plus/theme-chalk/el-tooltip.css';
@use 'element-plus/theme-chalk/el-main.css';
@use 'element-plus/theme-chalk/el-container.css';
@use 'element-plus/theme-chalk/el-aside.css';
@use 'element-plus/theme-chalk/el-option.css';
@use 'element-plus/theme-chalk/el-option-group.css';
@use 'element-plus/theme-chalk/el-select.css';
@use 'element-plus/theme-chalk/el-popper.css';
@use 'element-plus/theme-chalk/el-scrollbar.css';
@use 'element-plus/theme-chalk/el-progress.css';
@use 'element-plus/theme-chalk/el-loading.css';
@use 'element-plus/theme-chalk/el-alert.css';
@use 'element-plus/theme-chalk/el-switch.css';
@use 'element-plus/theme-chalk/el-input-number.css';
@use 'element-plus/theme-chalk/el-table.css';
@use 'element-plus/theme-chalk/el-table-column.css';
@use 'element-plus/theme-chalk/el-step.css';
@use 'element-plus/theme-chalk/el-steps.css';
@use 'sass:color';

:root {
  --el-component-size: #{$sa-input-height};
  --el-color-danger: #{$danger-color};
  --el-color-error: #{$danger-color};
  --el-border-radius-base: #{$components-border-radius};
  --el-color-primary: #{$components-color};
  --el-border-color-hover: #{$primary-color-lighter-iii};
  --el-text-color-regular: #{$primary-color-lighter-i};
  --el-text-color-primary: #{$primary-color};
  --el-text-color-placeholder: #{$primary-color-lighter-iii};
  --el-mask-color: rgba(255, 255, 255, 0.3);
}

.el-select {
  --el-select-width: 250px;
  --el-select-input-font-size: inherit;
  &__wrapper {
    height: $sa-input-height;
  }
}

.el-alert {
  --el-alert-title-font-size: 100%;
  --el-alert-description-font-size: 90%;
}

.el-loading-mask {
  background-color: rgba(255, 255, 255, 0.4);
}

.el-alert {
  line-height: 1em;

  &__title {
    display: flex;
    align-items: flex-end;
    font-weight: bold;

    .sa-icon {
      margin-right: 5px;
      width: 20px !important;
      height: 20px !important;
    }
  }

  &__description {
    .el-button {
      padding: 0;
      height: auto;
    }
  }
}

.el-button {
  padding: 12px 20px;
  height: $sa-input-height;

  &.is-link {
    color: $components-color;
    padding: 0;

    &:hover {
      color: color.adjust($components-color, $lightness: 7%);
    }

    &:focus, &:active, &:visited, &:focus:active {
      color: color.adjust($components-color, $lightness: -7%);
    }
  }
}

.el-form-item__content {
  .sa-documents-upload, .sa-notes-input, .sa-input-loader {
    width: 100%;
  }
}

// workaround for ordering issues in Vite
.el-date-editor.el-input, .el-date-editor.el-input__wrapper {
  width: var(--el-date-editor-width) !important;
}
