@use "vars" as *;
@use "mixins" as *;
@import url("https://fonts.googleapis.com/css?family=Muli");

$loader-color: $accent-contrast-color;

.app-loader-screen {
  @include gradient-background;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Muli', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-out;

  h1 {
    color: $accent-contrast-color;
    font-weight: normal;
    font-size: 200%;
    margin: 0 0 20px;
  }

  .app-loader-container {
    transform: translateY(-50%);

    .app-loader {
      position: relative;
      width: 12px;
      height: 12px;

      top: calc(50% - 6px);
      left: calc(50% - 6px);

      border-radius: 12px;
      background-color: $loader-color;
      transform-origin: 50% 50%;
      animation: app-loader 1s ease-in-out infinite;
    }

    .app-loader:before {
      content: "";
      position: absolute;
      background-color: fade_out($loader-color, .3);
      top: 0;
      left: -25px;
      height: 12px;
      width: 12px;
      border-radius: 12px;
    }

    .app-loader:after {
      content: "";
      position: absolute;
      background-color: fade_out($loader-color, .3);
      top: 0;
      left: 25px;
      height: 12px;
      width: 12px;
      border-radius: 12px;
    }
  }
}

@keyframes app-loader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
