@import 'element-theme';
@import url("https://fonts.googleapis.com/css?family=Muli");
@import "vars";
@import "grid";
@import "mixins";
@import "notifications";
@import "vue-select";

body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', serif;
  color: $primary-text-color !important;
}

#app {
  min-height: 100vh;
}

.sa-secondary-text {
  font-size: 90%;
  color: $secondary-text-color;
}

.sa-page-header {
  h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 160%;
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    background: $secondary-grey;
  }

  .sa-header-options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      background-color: transparent;
      border: none;
      color: $secondary-text-color;
      max-width: 200px;
    }
  }
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 130%;
}

h4 {
  font-size: 105%;
}

textarea {
  font-family: inherit;
}

.sa-item-info-panel {
  padding: 20px;
  border: 1px solid $secondary-grey;
  background-color: $white;
  border-radius: 2px;
  overflow: hidden;

  .sa-item-title-panel {
    display: flex;
    justify-content: space-between;

    h3 {
      margin: 0;
    }

    .sa-item-edit-link {
      color: $components-color;

      .sa-icon {
        margin-right: 3px;
        height: 13px;
        width: 13px;
      }
    }
  }

  .sa-item-attributes {

    .sa-item-attribute {
      display: inline-flex;
      align-items: center;
      margin-right: 30px;
      margin-top: 15px;

      .sa-icon {
        margin-right: 5px;
        width: 18px;
        height: 18px;
      }

      .sa-secondary-text {
        margin-left: 5px;
      }

      .sa-clickable {
        cursor: pointer;
      }
    }
  }

  .sa-item-section {
    margin-top: 20px;

    h4 {
      margin: 0;
    }

    .sa-item-additional-info {
      font-style: italic;
    }
  }
}

a {
  color: $components-color;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
