@use 'element-theme' as *;
@use "vars" as *;
@use "grid/main" as *;
@use "mixins" as *;
@use "fonts";

body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', serif;
  color: $primary-text-color !important;
}

#app {
  min-height: 100vh;
}

.sa-secondary-text {
  font-size: 90%;
  color: $secondary-text-color;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 130%;
}

h4 {
  font-size: 105%;
}

textarea {
  font-family: inherit;
}

.sa-item-info-panel {
  @include item-info-panel;
}

a {
  color: $components-color;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@keyframes loading-placeholder-animation {
  0% {
    background-position: 100% 0
  }
  100% {
    background-position: -100% 0
  }
}
