@import "vars";

$--color-primary: $components-color;
$--color-text-primary: $primary-color;
$--color-text-regular: $primary-color-lighter-i;
$--color-text-secondary: $secondary-text-color;
$--color-text-placeholder: $primary-color-lighter-iii;

$--color-danger: $danger-color;

$--border-radius-base: $components-border-radius;

$--input-height: $input-height;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/base.scss";
@import "~element-ui/packages/theme-chalk/src/pagination.scss";
@import "~element-ui/packages/theme-chalk/src/input.scss";
@import "~element-ui/packages/theme-chalk/src/input-number.scss";
@import "~element-ui/packages/theme-chalk/src/checkbox.scss";
@import "~element-ui/packages/theme-chalk/src/select.scss";
@import "~element-ui/packages/theme-chalk/src/button.scss";
@import "~element-ui/packages/theme-chalk/src/date-picker.scss";
@import "~element-ui/packages/theme-chalk/src/tooltip.scss";
@import "~element-ui/packages/theme-chalk/src/form.scss";
@import "~element-ui/packages/theme-chalk/src/form-item.scss";
@import "~element-ui/packages/theme-chalk/src/message.scss";
@import "~element-ui/packages/theme-chalk/src/container.scss";
@import "~element-ui/packages/theme-chalk/src/header.scss";
@import "~element-ui/packages/theme-chalk/src/aside.scss";
@import "~element-ui/packages/theme-chalk/src/main.scss";
@import "~element-ui/packages/theme-chalk/src/footer.scss";
@import "~element-ui/packages/theme-chalk/src/common/var";
@import "~element-ui/packages/theme-chalk/src/steps";
@import "~element-ui/packages/theme-chalk/src/step";
@import "~element-ui/packages/theme-chalk/src/table";
@import "~element-ui/packages/theme-chalk/src/table-column";
@import "~element-ui/packages/theme-chalk/src/switch";
@import "~element-ui/packages/theme-chalk/src/loading";
@import "~element-ui/packages/theme-chalk/src/progress";
@import "~element-ui/packages/theme-chalk/src/alert";
@import "~element-ui/packages/theme-chalk/src/message-box";

.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner:focus {
  border-color: $--input-focus-border;
}

.el-form-item.is-success .el-input__inner:hover,
.el-form-item.is-success .el-textarea__inner:hover {
  border-color: $--input-hover-border;
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-textarea__inner {
  border-color: $--input-border-color;
}

.el-loading-mask {
  background-color: rgba(255, 255, 255, 0.4);
}

.el-alert {
  line-height: 1em;

  &__title {
    display: flex;
    align-items: center;
    font-size: 100%;

    .sa-icon {
      margin-right: 5px;
      width: 20px;
      height: 20px;
    }
  }

  &__description {
    font-size: 90%;

    .el-button {
      padding: 0;
    }
  }
}
