@import "vars";

$vs-component-line-height: $input-height;
$vs-border-radius: $components-border-radius;
$vs-component-placeholder-color: $primary-color-lighter-iii;
$vs-border-color: #DCDFE6;
$vs-state-active-bg: #F5F7FA;
$vs-state-active-color: inherit;

@import "~vue-select/src/scss/vue-select.scss";

$internal-padding: 15px;

.v-select {
  &.vs--open {
    .vs__dropdown-toggle {
      border-color: $components-color;
    }
  }

  .vs__dropdown-toggle {
    height: $input-height;
    padding: 0;
    margin: 0;
    transition: all 250ms;
    color: inherit;

    &:hover {
      border-color: $primary-color-lighter-iii;
    }

    .vs__selected-options {
      height: $input-height;
      padding: 0;

      .vs__search {
        height: $input-height;
        margin: 0;
        padding-left: $internal-padding;
        color: inherit;

        &:focus {
          margin: 0;
          padding-left: $internal-padding;
        }
      }

      .vs__selected {
        margin: 0;
        padding: 0 0 0 $internal-padding;
        height: $input-height;
        color: inherit;
      }
    }

    .vs__open-indicator {
      color: #7d9dbe;
    }

    .vs__clear {
      //noinspection CssNoGenericFontName
      font-family: element-icons;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      vertical-align: baseline;
      display: inline-block;
      color: #7d9dbe;

      &:before {
        content: "\e78d";
      }

      svg {
        display: none;
      }
    }
  }

  .vs__dropdown-menu {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    border-top-style: solid;
    border-color: #E4E7ED;

    .vs__dropdown-option {
      line-height: 34px;
      padding: 0 $internal-padding;
      color: inherit;
    }
  }
}
