<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="net.javacrumbs.jsonunit.difference.diff" level="all"/>
    <logger name="org.springframework.test.context.cache" level="debug"/>
    <logger name="io.orangebuffalo.simpleaccounting" level="trace"/>
</configuration>
