name: 'Dependabot: bun workaround'

on:
  pull_request_target:
    paths:
      - "frontend/package.json"

jobs:
  update-bun-lock:
    name: "Update bun.lock"
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - uses: oven-sh/setup-bun@v2

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.DEPENDABOT_AUTO_REBASE_TOKEN }}

      - name: "Update bun.lock"
        run: |
          cd frontend
          bun install

      - name: "Commit and push changes"
        run: |
          git add frontend/bun.lock
          git config --global user.name 'dependabot[bot]'
          git config --global user.email 'dependabot[bot]@users.noreply.github.com'
          git commit --amend --no-edit 
          git push --force
